

h1{
  text-align: center;
  color: #0b0b9b;
  font-weight: bolder;
}
p {
  color: rgb(143, 2, 2);
}
img {
  float: left;
  display: none;
}
body {
  background-color: green;
}
.column {
  width: 350;
  float: left;
}
.jumbotron {
  margin-bottom: 

}